.home {
  background-image: url("../../Assets/Img/Home/BackgroundImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 220px;
  padding-bottom: 75px;
}
.home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.home .container .title {
  font-size: 48.83px;
  line-height: 130%;
  font-family: "JosefinBold";
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
  max-width: 800px;
}
@media (max-width: 991px) {
  .home .container .title {
    font-size: 31.83px;
  }
}
.home .container .place {
  display: flex;
}
.home .container .place .img-box {
  margin-right: 10px;
}
.home .container .place .img-box img {
  width: 18px;
  height: 18px;
}
.home .container .place .road {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  font-family: "JosefinRegular";
  line-height: 24px;
}
.home .container .place .road .way {
  text-decoration: none;
  color: #fff;
}
.posts {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "JosefinRegular";
}
.posts .container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.posts .container .main_post {
  width: 73%;
  margin-right: 30px;
}
.posts .container .main_post .img_box {
  margin-bottom: 60px;
}
.posts .container .main_post .data_pers_comment {
  display: flex;
  margin-bottom: 25px;
}
.posts .container .main_post .data_pers_comment .box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.posts .container .main_post .data_pers_comment .box:last-child {
  margin-right: 0;
}
.posts .container .main_post .data_pers_comment .box .img-box {
  margin-right: 18px;
}
.posts .container .main_post .data_pers_comment .box .img-box img {
  width: 24px;
  height: 24px;
}
.posts .container .main_post .data_pers_comment .box .name {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  color: #6C6C72;
  font-weight: 600;
}
@media (max-width: 991px) {
  .posts .container .main_post .data_pers_comment .box .name {
    font-size: 14px;
    line-height: 18px;
  }
  .posts .container .main_post .data_pers_comment .box .img-box {
    margin-right: 10px;
  }
}
@media (max-width: 991px) {
  .posts .container .main_post .data_pers_comment .box {
    margin-right: 10px;
  }
}
@media (max-width: 630px) {
  .posts .container .main_post .data_pers_comment .box {
    margin-bottom: 15px;
  }
  .posts .container .main_post .data_pers_comment .box:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 630px) {
  .posts .container .main_post .data_pers_comment {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.posts .container .main_post .box-container .main_title {
  margin-bottom: 60px;
}
.posts .container .main_post .box-container .main_title .title {
  margin-bottom: 20px;
  font-size: 16px;
  color: #6C6C72;
}
.posts .container .main_post .box-container .main_title .title.main_title::first-letter {
  font-size: 48.83px;
  line-height: 130%;
  color: #5956E9;
  font-family: "JosefinBold";
}
.posts .container .main_post .box-container .main_title .title:last-child {
  margin-bottom: 0;
}
.posts .container .main_post .box-container .video {
  margin-bottom: 60px;
}
.posts .container .main_post .box-container .video .intro {
  position: relative;
}
.posts .container .main_post .box-container .video .intro .button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.posts .container .main_post .box-container .video .intro .button-play img {
  width: 110px;
  height: 110px;
}
@media (max-width: 768px) {
  .posts .container .main_post .box-container .video .intro .button-play img {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 556px) {
  .posts .container .main_post .box-container .video .intro .button-play img {
    width: 45px;
    height: 45px;
  }
}
.posts .container .main_post .box-container .box-desc {
  margin-bottom: 60px;
  background-color: #5956E9;
  padding: 22px 40px;
  border-radius: 10px;
  text-align: center;
}
.posts .container .main_post .box-container .box-desc .desc {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}
.posts .container .main_post .box-container .rows {
  margin-bottom: 120px;
  display: flex;
}
.posts .container .main_post .box-container .rows .row {
  margin-right: 44px;
  width: 100%;
  max-width: 500px;
}
.posts .container .main_post .box-container .rows .row .img-box {
  margin-bottom: 42px;
}
.posts .container .main_post .box-container .rows .row .img-box img {
  max-width: 500px;
}
.posts .container .main_post .box-container .rows .row .name {
  color: #6C6C72;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 768px) {
  .posts .container .main_post .box-container .rows .row .name {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    display: -webkit-box;
  }
}
.posts .container .main_post .box-container .rows .row:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .posts .container .main_post .box-container .rows {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .posts .container .main_post .box-container .rows .row:first-child {
    margin-bottom: 30px;
  }
  .posts .container .main_post .box-container .box-desc {
    padding: 20px 20px;
  }
  .posts .container .main_post .box-container .box-desc .desc {
    font-size: 14px;
    line-height: 22px;
  }
}
.posts .container .main_post .author {
  padding: 18px 18px 35px 18px;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 3px 30px -14px #232233;
}
.posts .container .main_post .author .left {
  margin-right: 18px;
}
.posts .container .main_post .author .left .img-box {
  margin-bottom: 18px;
}
.posts .container .main_post .author .left .social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.posts .container .main_post .author .left .social .icon {
  margin-right: 12px;
}
.posts .container .main_post .author .left .social .icon img {
  width: 16px;
  height: 16px;
}
.posts .container .main_post .author .left .social .icon:last-child {
  margin-right: 0;
}
.posts .container .main_post .author .right .name {
  font-size: 20px;
  line-height: 30px;
  color: #232233;
  font-family: "JosefinSemiBold";
  text-transform: uppercase;
  margin-bottom: 7px;
}
.posts .container .main_post .author .right .profecion {
  font-family: "JosefinRegular";
  text-transform: capitalize;
  font-size: 16px;
  line-height: 24px;
  color: #5956E9;
  margin-bottom: 10px;
}
.posts .container .main_post .author .right .desc {
  font-family: "JosefinRegular";
  font-size: 16px;
  color: #6C6C72;
  line-height: 24px;
}
@media (max-width: 768px) {
  .posts .container .main_post .author {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .posts .container .main_post .author .left {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .posts .container .main_post .author .right {
    text-align: center;
  }
}
.posts .container .recent_post {
  width: 27%;
}
.posts .container .recent_post .input-box {
  border-bottom: 1px solid #6C6C72;
  padding-bottom: 40px;
}
.posts .container .recent_post .input-box input {
  width: 100%;
  padding: 18px 30px;
  border-radius: 5px;
  border: 1px solid #6C6C72;
  font-size: 16px;
  line-height: 24px;
  font-family: "JosefinSemiBold";
}
.posts .container .recent_post .input-box input::-moz-placeholder {
  color: #6C6C72;
}
.posts .container .recent_post .input-box input::placeholder {
  color: #6C6C72;
}
.posts .container .recent_post .box-container {
  border-bottom: 1px solid #6C6C72;
  padding-bottom: 40px;
}
.posts .container .recent_post .box-container .title {
  text-transform: uppercase;
  font-size: 31.25px;
  font-family: "JosefinBold";
  color: #232233;
  line-height: 47.3px;
  margin-top: 13px;
}
.posts .container .recent_post .box-container .box {
  margin-bottom: 40px;
}
.posts .container .recent_post .box-container .box:last-child {
  margin-bottom: 0;
}
.posts .container .recent_post .box-container .box .title {
  font-size: 20px;
  line-height: 30px;
}
.posts .container .recent_post .category {
  border-bottom: 1px solid #6C6C72;
  padding-bottom: 40px;
}
.posts .container .recent_post .category .title {
  margin-top: 40px;
  margin-bottom: 13px;
  font-size: 31.25px;
  line-height: 47.3px;
  color: #232233;
  text-transform: uppercase;
  font-family: "JosefinBold";
}
.posts .container .recent_post .category .category-list .category-item {
  display: flex;
  align-items: center;
}
.posts .container .recent_post .category .category-list .category-item .img-box {
  margin-right: 18px;
}
.posts .container .recent_post .category .category-list .category-item .img-box .img {
  width: 24px;
  height: 24px;
}
.posts .container .recent_post .category .category-list .category-item h5 {
  color: #6C6C72;
  font-size: 20px;
  line-height: 30px;
  font-family: "JosefinSemiBold";
  text-transform: uppercase;
}
.posts .container .recent_post .tags {
  margin-top: 40px;
}
.posts .container .recent_post .tags .title {
  margin-bottom: 13px;
  font-size: 31.25px;
  line-height: 47.3px;
  color: #232233;
  text-transform: uppercase;
  font-family: "JosefinBold";
}
.posts .container .recent_post .tags .tags-list {
  display: flex;
  flex-wrap: wrap;
}
.posts .container .recent_post .tags .tags-list .tags-item {
  margin-right: 30px;
  margin-bottom: 18px;
}
.posts .container .recent_post .tags .tags-list .tags-item:last-child {
  margin-right: 0;
}
.posts .container .recent_post .tags .tags-list .tags-item a {
  text-decoration: underline;
  color: #232233;
  font-size: 20px;
  line-height: 30px;
  font-family: "JosefinSemiBold";
  text-transform: uppercase;
}/*# sourceMappingURL=blog_info.css.map */